<launch>
    <group ns="board1">
        <node name="game_node" pkg="chessboard" type="game_node" output="screen" />
        <node name="move_piece_server" pkg="chessboard" type="move_piece_server" output="screen" />
        <node name="sensor_node" pkg="chessboard" type="sensor_node" output="screen" />
        <node name="UI_node" pkg="chessboard" type="UI_node" output="screen" />
    </group>

    <group ns="board2">
        <node name="game_node" pkg="chessboard" type="game_node" output="screen" />
        <node name="move_piece_server" pkg="chessboard" type="move_piece_server" output="screen" />
        <node name="sensor_node" pkg="chessboard" type="sensor_node" output="screen" />
        <node name="UI_node" pkg="chessboard" type="UI_node" output="screen" />
    </group>
</launch>